/**
All Transitions
*/
a,input,img,textarea,button,svg,
.ftr-tel a span,.hm-fea-box-item,i{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.scale{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li:hover > a,
nav.main-nav ul li.current-menu-item a{
	color: #C90808;
}

/*-----buttons hover------ */

/*white transparent button hover*/
.main-bnr-des-btn-2 a:hover{
	background: #FF0000;
	border-color: #FF0000;
}
/*blue transparent button hover*/
.producten-overview-items-btn a:hover,
.hm-pro-bxe-item-more-link a:hover,
.hm-overons-sec-des-btn-2 a:hover{
	background: #000062;
	color: #fff;
}

/*gradient button hover*/
.main-bnr-des-btn-1 a:hover,
.hm-overons-sec-des-btn-1 a:hover,
.ftr-top-sec-btn-3 a:hover,
.ipt-contact-form-sec .wpforms-form .wpforms-submit-container button:hover,
.ipt-pd-wel-des a:hover,
.Beschrijving-desc-btn a:hover{
	background: linear-gradient(-215.68deg, #FF0000 30.23%, #C90707 100%), #C90808;
}


/*text hover color*/
.ftr-btm-inr a:hover{
	color: #C90808;
}


