.footer-wrp{
	color: #fff;
	
}

.ftr-top{
	padding: 85px 0 110px;
	color: #A8A8A8;
	background: #353638;
}
.ftr-btm{
	background: #FFFFFF;
	color: #474747;
	padding: 60px 0;
}
.ftr-btm-inr{
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 1
}
.ftr-btm-inr p{
	margin-bottom: 0;
}

.ftr-btm-inr a{
	margin-left: auto;
	color: #474747;
}

.ftr-col{
	float: left;
	width: 20%; 
}

.ftr-col-1{
	width: 30%;
	text-align: left;
}
.ftr-col-2{
	width: 25%;
}
.ftr-col-3{
	width: 25%;
}
.ftr-col-4{
	float: right;
	padding-left: 27px;
}
.ftr-logo{
	margin-top: -25px;
}
.ftr-col-title{
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	margin: 0 0 35px 0;
	color: #fff;
}
.ftr-col ul li{
	padding: 0 10px 28px 0;
}
.ftr-col ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #A8A8A8;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.5;
}
.ftr-col ul li a:hover,
.ftr-col ul li a:hover span{
	color: #fff;
}
.ftr-tel a span{
	color: #f20303;
}

.ftr-top-sec{
	padding: 80px 0;
	background: #fff;
}
.ftr-top-inr{
	text-align: center;
}
.ftshdr-title{
	display: block;
	margin: 0 0 15px 0;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.2;
}

.ftr-top-inr p{
	margin-bottom: 30px;
}
.ftr-top-sec-btn{
	display: inline-block;
	vertical-align:baseline;
	padding: 0 10px;
}
.ftr-top-sec-btn a{
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: center;
	color: #000062;
	font-size: 24px;
	line-height: 1;
	font-weight: 400;
	max-width: 464px;
	height: 88px;
	border: 1px solid #000062;
	margin-bottom: 30px;
}

.ftr-top-sec-btn-3 a{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	max-width: 250px;
	width: 100%;
	height: 56px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	border-radius: 8px;
	padding: 9px 10px 5px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
	-ms-background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
	-webkit-background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
	
}
.ftr-top-sec-btn a i{
	padding-right: 16px;
}
.ftr-top-sec-btn-mail a i{
	padding-right: 18px;
}

.ftr-top-sec-btn a:hover{
	color: #C90808;
}
.ftr-top-sec-btn a:hover i svg{
	fill: #C90808;
}






@media(max-width: 1499px){

}

@media(max-width: 1399px){
	.ftr-col{
		width: 24%;
	}
	.ftr-col-1 {
	    width: 30%;
	}
	.ftr-col-2 {
	    width: 21%;
	}
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ftr-btm {
	    padding: 50px 0;
	}
	.ftr-col {
	    width: 29%;
	}

	.ftr-col-1 {
	    width: 28%;
	}
	.ftr-col-2 {
	    width: 21%;
	}
	.ftr-col-3 {
	    width: 22%;
	}
	.ftr-top{
		padding: 75px 0 80px;
	}
	.loc-address a br{
		display: none;
	}
	.ftr-top-sec-btn a{
		max-width: 410px;
	}
}

@media(max-width: 991px){
	.ftr-col.ftr-col-1{
		width: 100%;
		text-align: center;
		padding-bottom: 35px;
	}
	.ftr-col{
		width: 33.3333%;
	}
	.ftr-col.ftr-col-2{
		width: 30%;
	}
	.ftr-col.ftr-col-3{
		width: 30%;
	}
	.ftr-col.ftr-col-4{
		width: 40%;
	}
	.ftr-top-inr p br{
		display: none;
	}
	.ftr-top-sec-btn a {
	    max-width: 346px;
	    height: 75px;
	}
	.ftshdr-title{
		font-size: 37px;
	}
}

@media(max-width: 767px){
	.ftr-col.ftr-col-1{
		padding-bottom: 60px;
	}
	.ftr-col ul{
		padding-bottom: 35px;
	}
	.ftr-col{
		width: 100%!important;
		text-align: center;
	}
	.ftr-col{
		padding-bottom: 25px;
	}
	.ftr-logo {
	    margin-top: 0;
	}
	.ftr-top{
		padding: 60px 0 20px;
	}
	.ftr-col ul li:last-child{
		padding-bottom: 0;
	}
	.ftr-col-title span{
		position: relative;
		padding-right: 20px;
		display: inline-block;
		vertical-align: baseline;
	}
	span.show-sm{
		display: inline-block!important;
	}
	.ftr-col-title span:after{
		content: "";
		position: absolute;
		top: -2px;
		right: 0;
		background: url(../images/up-arrow-white.png);
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;
	}
	.ftr-col-title.active span:after{
		
		background: url(../images/down-arrow-white.png);
		width: 16px;
		height: 16px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% auto;
	}
	.ftr-col ul li a br{
		display: none;
	}
	.ftr-btm-inr {
	    display: block;
	    text-align: center;
	}
	.ftr-btm-inr p{
		padding-bottom: 27px;
	}
	.ftr-btm-inr a{
		color: #787878;
	}
	.ftr-top-sec-btn-3 a{
		max-width: 346px;
	}
	.ftr-top-sec{
		padding-bottom: 65px;
		padding-top: 64px;
	}
	.ftr-top-sec-btn a{
		border-color: #474747;
		color: #474747;
	}
	.ftr-top-sec-btn a i svg{
		fill: #474747;
	}
	.ftshdr-title {
	    font-size: 32px;
	}
	.ftr-btm{
		padding-bottom: 100px;
	}
}

@media(max-width: 575px){
	.ftr-top-sec-btn a {
	    max-width: 330px;
	    height: 88px;
	    font-size: 24px;
	}
	.ftr-top-sec-btn a{
		margin-bottom: 15px;
	}
	.ftr-top-sec-btn-3{
		padding-top: 10px;
	}
	.ftr-top-sec-btn-3 a{
		background: #C90808;
		max-width: 330px;
	}
	.hm-overons-sec-des-btn-1 a{
		background: #c90808;
	}
	.ftshdr-title {
	    font-size: 30px;
	}
	.ftr-top-sec{
		padding-top: 35px;
	}
}

@media(max-width: 479px){
	.ftr-top-sec-btn{
		display: block;
	}
	.ftr-top-sec-btn a{
		max-width: 280px;
		margin-left: auto;
		margin-right: auto;
		font-size: 19px;
		height: 70px;
	}
	.ftr-top-sec-btn-3 a{
		max-width: 280px;
	}
	.ftr-top-sec-btn{
		padding-left: 0;
		padding-right: 0;
	}

}

@media(max-width: 359px){
	.ftshdr-title {
	    font-size: 27px;
	}
}

