.footer-wrp{
	color: #fff;
	padding-left: 50px;
}
.ftr-top{
	padding: 85px 0 110px;
	color: #A8A8A8;
	background: #353638;
}
.ftr-btm{
	background: #FFFFFF;
	color: #474747;
	padding: 60px 0;
}
.ftr-btm-inr{
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 1
}

.ftr-btm-inr a{
	margin-left: auto;
	color: #474747;
}

.ftr-col{
	float: left;
	width: 20%; 
}

.ftr-col-1{
	width: 30%;
	text-align: left;
}
.ftr-col-2{
	width: 25%;
}
.ftr-col-3{
	width: 25%;
}
.ftr-col-4{
	float: right;
	padding-left: 27px;
}
.ftr-logo{
	margin-top: -25px;
}
.ftr-col-title{
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	margin: 0 0 35px 0;
	color: #fff;
}
.ftr-col ul li{
	padding: 0 10px 30px 0;
}
.ftr-col ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #A8A8A8;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
}
.ftr-col ul li a:hover,
.ftr-col ul li a:hover span{
	color: #fff;
}
.ftr-tel a span{
	color: #f20303;
}

.ftr-top-sec{
	padding: 80px 0;
	background: #fff;
}
.ftr-top-inr{
	text-align: center;
}
.ftshdr-title{
	display: block;
	margin: 0 0 15px 0;
	font-weight: 700;
	font-size: 40px;
	line-height: 1;
}

.ftr-top-inr p{
	margin-bottom: 30px;
}
.ftr-top-sec-btn{
	display: inline-block;
	vertical-align:baseline;
	padding: 0 10px;
}
.ftr-top-sec-btn a{
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: center;
	color: #000062;
	font-size: 24px;
	line-height: 1;
	font-weight: 400;
	max-width: 464px;
	height: 88px;
	border: 1px solid #000062;
	margin-bottom: 30px;
}

.ftr-top-sec-btn-3 a{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	max-width: 250px;
	width: 100vw;
	height: 56px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	border-radius: 8px;
	padding: 9px 10px 5px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
	-ms-background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
	-webkit-background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
	
}
.ftr-top-sec-btn a i{
	padding-right: 16px;
}
.ftr-top-sec-btn-mail a i{
	padding-right: 18px;
}

.ftr-top-sec-btn a:hover{
	color: #C90808;
}
.ftr-top-sec-btn a:hover i svg{
	fill: #C90808;
}