.main-bnr-con-sec{
	position: relative;
}
.main-bnr-con-cntlr{
	position: relative;
}
.main-bnr-con{
	min-height: 832px;
	position: relative;
}
.main-bnr-con-des{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 316px;
	z-index: 2;
	color: #fff;
}
.main-bnr-con-des-inr{
	max-width: 735px;
	width: 100%;
}
.main-brn-sub-title{
	font-size: 30px;
	line-height: 1;
	display: block;
	font-weight: 700;
	margin: 0 0 18px 0;
}
.main-bnr-title{
	display: block;
	font-weight: 700;
	font-size: 56px;
	line-height: 1;
	margin: 0 0 25px 0;
	text-transform: uppercase;
}
.main-bnr-con-des p{
	margin-bottom: 35px;
}
.main-bnr-des-btn{
	display: inline-block;
	vertical-align: baseline;
	margin-right: 12px;
}
.main-bnr-des-btn a{
	height: 56px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	padding: 10px 10px 5px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}


.main-bnr-des-btn-1 a{
	max-width: 180px;
	color: #fff;
	background: linear-gradient(215.68deg, #FF0000 30.23%, #C90707 100%), #C90808;

}

.main-bnr-des-btn-2 a{
	max-width: 220px;
	color: #fff;
	border: 2px solid #fff;

}

.hm-fea-boxs-section{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}
.hm-fea-boxs-sec-cntlr{
	display: flex;
	justify-content: center;
}

.hm-fea-box-item{
	background: rgba(97, 6, 6, 0.7);
	color: #fff;
	padding: 28px 20px 15px 40px;
	position: relative;
}
.hm-fea-box-item:hover{
	background: linear-gradient(219.08deg, #FF0000 18.2%, #C90707 100%), #C90707;
}
.hm-fea-box-item-icon{
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}
.hm-fea-box-item-title{
	font-size: 20px;
	line-height: 1;
	display: block;
	margin: 0 0 15px 0;
	font-weight: 700;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.hm-fea-box-item p{
	font-size: 14px;
	line-height: 20px;
}
.hm-fea-boxs-sec-cntlr{
	margin: 0 -12px;
}
.hm-fea-box-item-col{
	width: 25%;
	padding: 0 12px 0;
}
.hm-fea-box-item p{
	font-size: 14px;
}

.hm-pro-bxe-item{
	text-align: center;
	background: linear-gradient(236.41deg, #FFFFFF 3.15%, rgba(255, 255, 255, 0) 67.79%), #F4F4F4;
	padding: 120px 20px 80px;
}
.hm-pro-bxe-item-icon,
.hm-pro-bxe-item-title,
.hm-pro-bxe-item-more-link a{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}
.hm-pro-bxe-item-title{
	font-size: 30px;
	line-height: 1;
	margin: 0 0 25px 0;
	font-weight: 700;
}
.hm-pro-bxe-item-icon img{
	display: inline-block;
	vertical-align: baseline;
}
.hm-pro-bxe-item p{
	margin-bottom: 30px;
}
.hm-pro-bxe-item-more-link a{
	max-width: 320px;
	width: 100vw;
	height: 56px;
	border: 2px solid #000062;
	border-radius: 8px;
	color: #000062;
	font-size: 14px;
	line-height: 1;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	font-weight: 700;
}

.hm-overons-section{
	padding: 101px 0 110px;
}
.hm-overons-sec-inr{
	display: flex;
	align-items: center;
}
.hm-overons-sec-fea-img-cntlr{
	width: 50%;
	height: 544px;
}
.hm-overons-sec-fea-img{
	width: 100%;
	height: 100%;
}
.hm-overons-sec-des{
	width: 50%;
	padding: 10px 0 10px 110px;
}
.hm-overons-sec-des-sub-title{
	text-transform: uppercase;
	display: block;
	margin: 0 0 15px 0;
	color: #C90808;
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
}
.hm-overons-sec-des-title{
	font-size: 40px;
	line-height: 1;
	display: block;
	font-weight: 700;
	margin-bottom: 35px;
}
.hm-overons-sec-des-logos{
	border-top: 2px solid #f4f4f4;
	border-bottom: 2px solid #f4f4f4;
	padding: 15px 0 15px;
	margin: 0 0 30px 0!important;
}
.hm-overons-des-logo {
	text-align: center;
	
}
.hm-overons-des-logo-inr{
	display: flex;
	align-items: center;
	justify-content: center;
}
.hm-overons-des-logo img{
	display: inline-block;
	vertical-align: baseline;
}

.hm-overons-sec-des p{
	margin-bottom: 50px;
}
.hm-overons-sec-des-btn{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 12px;
}

.hm-overons-sec-des-btn a{
	height: 56px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	padding: 10px 10px 5px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
}

.hm-overons-sec-des-btn-1 a{
	max-width: 180px;
	color: #fff;
	background: linear-gradient(215.68deg, #FF0000 30.23%, #C90707 100%), #C90808;

}

.hm-overons-sec-des-btn-2 a{
	max-width: 220px;
	color: #000062;
	border: 2px solid #000062;

}


.hm-client-logos-sec-cntlr{
	border-top: 2px solid #F4F4F4;
	border-bottom: 2px solid #F4F4F4;
	padding: 48px 0 18px;
	margin-bottom: 75px;
}
.hm-client-logos-sec-cntlr ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
.hm-client-logos-sec-cntlr ul{
	margin: 0 -45px;
}
.hm-client-logos-sec-cntlr ul li{
	padding: 0 45px 30px;
}
.hm-client-logos-sec-cntlr ul li > div{
	display: flex;
	align-items: center;
	justify-content: center;
}



.hm-our-references-sec{
	background: linear-gradient(223.9deg, #FFFFFF 3.15%, rgba(255, 255, 255, 0) 67.79%), #F4F4F4;
	padding: 110px 0 100px;
	position: relative;
	overflow: hidden;
}
.hm-our-references-sec-angle{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
	width: 55%;
	/*border-top: 400px solid transparent;
    border-bottom: 400px solid transparent;
    border-left: : 400px solid #C90808;

	/*background: linear-gradient(234.01deg, #FF0000 18.2%, #C90707 100%), #C90808;*/
}
.hm-our-references-sec-angle img{
	min-height: 100%;
}

.hm-our-references-sec-cntlr{
	position: relative;
	z-index: 5;
}

.hm-our-references-sec-hdr{
	text-align: center;
}

.horshdr-title{
	display: block;
	font-weight: 700;
	margin: 0 0 20px 0;
	font-size: 30px;
	line-height: 1;
}
.hm-our-references-sec-hdr{
	padding-bottom: 25px;
	max-width: 875px;
	width: 100%;
	margin:  0 auto;
}
.tp-tabs ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tp-tabs ul{
	margin: 0 -30px;
}
.tp-tabs ul li{
	padding: 0 30px 60px;
}
.tp-tabs .tab-btn{
	background: transparent;
	display: flex;
	align-items: center;
	line-height: 1;
	padding: 0;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	text-transform: uppercase;
	color: #474747;
}
.tp-tabs .tab-btn span{
	padding-top: 7px;
	padding-left: 10px;
}
.tp-tabs .tab-btn:hover,
.tab-link .tab-btn.tab-link.current{
	color: #C90808;
}

.tp-tabs .tab-btn:hover i svg,
.tab-link .tab-btn.tab-link.current i svg{
	fill: #C90808; 
}


.tp-references-grd-row{
	display: flex;
	align-items: center;
}

.tp-references-grd-lft-col{
	width: 48%;
}
.tp-references-grd-lft-fea-img{
	height: 500px;
	width: 100%;
}
.tp-references-grd-rgt-col{
	width: 52%;
	padding: 70px 0 70px 115px;
}

.tp-references-grd-des-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin: 0 0 20px 0;
}
.view-all-references-btn {
	padding-top: 40px;
}
.view-all-references-btn a{
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	max-width: 330px;
	width: 100vw;
	height: 48px;
	display: flex;
	align-items: center;
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 8px;
	position: relative;
	padding-left: 35px;
}
.view-all-references-btn a i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 30px;
}

.fl-tab-content{
	display: none;
}
.fl-tab-content.current{
	display: block;
}

.hmReferencesSlider .slick-prev,
.hmReferencesSlider .slick-next{
	z-index: 50;
	bottom: 0;
	top: initial;
	transform: initial;
	width: 20px;
	height: 20px;
}
.hmReferencesSlider .slick-prev:before,
.hmReferencesSlider .slick-next:before{
	content: none;
}
.hmReferencesSlider .slick-prev{
	right: 42%;
	left: initial;
	background: url(../images/prev-arrow-gray.svg);
	background-size: 100% auto;
}
.hmReferencesSlider .slick-next{
	right: 38%;
	left: initial;
	margin-left: 115px;
	background: url(../images/next-arrow-gray.svg);
	background-size: 100% auto;
}