.back-link-sec-inr{
	padding: 40px 0;
	border-bottom: 2px solid #f4f4f4;
}
.back-link-sec-inr a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 12px;
	color: #474747;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 22px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	position: relative;
}
.back-link-sec-inr a i{
	position: absolute;
	top: 40%;
	left: 0;
	transform: translateY(-50%);
}
.back-link-sec-inr a:hover{
	color: #C90808;
}
.back-link-sec-inr a:hover i svg{
	fill: #C90808;
}



.ipt-pd-welding-sec{
	padding: 68px 0 78px;
}

.ipt-pd-welding-sec-ctlr{
	display: flex;
	align-items: center;
	justify-content: center;
}

.ipt-pd-wel-img{
	height: 545px;
	width: 50%;
}
.ipt-pd-wel-des{
	width: 50%;
	padding-left: 110px;
}


.ipt-pd-wel-des-subtitle{
	display: block;
	font-size: 18px;
	line-height: 1;
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
	color: #C90808;
}
.ipt-pd-wel-des-title{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 22px;
	font-weight: 700;
}
.ipt-pd-wel-des p{
	margin-bottom: 25px;
}
.ipt-pd-wel-des a{
	max-width: 180px;
	width: 100%;
	height: 56px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	color: #fff;
	background: linear-gradient(215.68deg, #FF0000 30.23%, #C90707 100%), #C90808;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 8px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}


.ipt-pd-slider-sec-wrap{
	padding: 70px 0 85px;
	background: linear-gradient(220.21deg, #FFFFFF 3.15%, 
		rgba(255, 255, 255, 0) 67.79%), #F4F4F4;
}

.ipt-pd-slider-entry-hdr{
	text-align: center;
}

.ipt-pd-slider-entry-tilte{
	display: block;
	font-size: 30px;
	line-height: 1;
	margin-bottom: 15px;
	font-weight: 700;
}
.ipt-pd-slider-entry-hdr p{
	margin-bottom: 55px;
}

.ipt-pd-sliders{
	margin-left: -12px;
	margin-right: -12px;
}
.ipt-pd-slider-item{
	float: left;
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
}
.ipt-pd-slider-item-ctlr{
	background: #fff;
	text-align: center;
	padding: 50px 38px 25px;
}

.ipt-pd-slider-item-img{
	padding-bottom: 45px;
	border-bottom: 4px solid transparent;
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
}
.ipt-pd-slider-item-img img{
	max-width: 215px;
	width: 100%;
	margin: 0 auto;
}

.ipt-pd-slider-title{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	line-height: 1;
	margin: 35px 0 18px 0;
	font-weight: 700;
	text-transform: capitalize;
}
.ipt-pd-slider-title a{
	color: #474747;
}

.ipt-pd-slider-sec{
	position: relative;
}
.ipt-pd-slider-arrow .ipt-pd-slider-leftarrow,
.ipt-pd-slider-arrow .ipt-pd-slider-rightarrow{
	display: block;
	height: 20px;
	width: 20px;
	cursor: pointer;
	text-align: center;
	z-index: 5;
}
.ipt-pd-slider-arrow .ipt-pd-slider-leftarrow{
	background: url('../images/pd-right-arrow.svg');
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
	position: absolute;
	left: -55px;
	top: 50%;
}
.ipt-pd-slider-arrow .ipt-pd-slider-leftarrow:hover{
	background: url('../images/pd-right-arrow-hover.svg');
	background-size: 100% 100%!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.ipt-pd-slider-arrow .ipt-pd-slider-rightarrow{
	background: url('../images/pd-left-arrow.svg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	right: -55px;
	top: 50%;
}
.ipt-pd-slider-arrow .ipt-pd-slider-rightarrow:hover{
	color: #FF0000;
}

.iptPdSliders .ipt-pd-slider-item{
	display: none !important;
}
.iptPdSliders .ipt-pd-slider-item:first-child{
	display: block !important;
}
.iptPdSliders.slick-initialized .ipt-pd-slider-item{
	display: block !important;
}

.iptPdSliders .slick-current .ipt-pd-slider-item-img{
	border-bottom: 4px solid #F5F5F5;
}



.ipt-pd-ctlr .ipt-contact-form-sec-inr{
	max-width: 1045px;
	width: 100%;
	margin: 0 auto;
	padding: 50px 65px;
	border: 4px solid #FF0000; 
}
.pd-contact{
	padding-bottom: 108px;
	border-bottom: 3px solid #F9F9F9;
}

.ipt-pd-ctlr .ipt-contact-form-sec {
    padding-top: 125px;
    padding-bottom: 0px;
}


@media(max-width: 1599px){
	.ipt-pd-slider-sec-wrap{
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media(max-width: 1399px){
	
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.back-link-sec-inr {
	    padding: 30px 0;
	}
	.ipt-pd-welding-sec {
	    padding: 68px 0 68px;
	}
	.ipt-pd-wel-des {
	    padding-left: 90px;
	}
	.ipt-pd-slider-sec-wrap {
	    padding: 70px 60px 70px;
	}
	.ipt-pd-ctlr .ipt-contact-form-sec {
	    padding-top: 100px;
	}
	.pd-contact {
	    padding-bottom: 100px;
	}

}

@media(max-width: 991px){
	.ipt-pd-welding-sec {
	    padding: 55px 0 55px;
	}
	.ipt-pd-wel-des {
	    padding-left: 60px;
	}
	.ipt-pd-slider-sec-wrap {
	    padding: 60px 60px 70px;
	}
	.ipt-pd-slider-entry-hdr p {
	    margin-bottom: 40px;
	}
	.ipt-pd-slider-entry-hdr p br{
		display: none;
	}
	.ipt-pd-slider-item {
	    width: 50%;
	}
	.ipt-pd-ctlr .ipt-contact-form-sec {
	    padding-top: 60px;
	}
	.pd-contact {
	    padding-bottom: 60px;
	}
	.ipt-cnt-entry-title {
	    font-size: 37px;
	}
	.ipt-pd-slider-entry-tilte,
	.ipt-pd-wel-des-title{
	    font-size: 28px;
	}

	
}

@media(max-width: 767px){
	.back-link-sec{
		display: none;
	}
	.ipt-pd-welding-sec {
	    padding: 40px 0 40px;
	}
	.ipt-pd-welding-sec-ctlr {
	    display: initial;
	}
	.ipt-pd-wel-img {
	    height: 265px;
	    max-width: 330px;
	    width: 100%;
	    margin: 0 auto;
	    margin-bottom: 30px;
	}
	.ipt-pd-wel-des {
	    padding-left: 0px;
	    width: 100%;
	}
	.ipt-pd-slider-sec-wrap {
	    padding: 50px 0px 100px;
	}
	.ipt-pd-slider-entry-tilte,
	.ipt-pd-wel-des-title{
	    font-size: 26px;
	}
	.ipt-pd-sliders{
		margin-left: 0;
		margin-right: 0;
	}
	.ipt-pd-slider-item{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.ipt-pd-slider-item-ctlr{
		max-width: 440px;
		width: 100%;
		margin: 0 auto;
		padding: 40px 20px 18px;
	}
	.ipt-pd-slider-item-img {
	    padding-bottom: 25px;
	    border-bottom: none;
	}
	.ipt-pd-slider-title {
	    margin: 20px 0 15px 0;
	}
	.iptPdSliders .slick-current .ipt-pd-slider-item-img{
		border-bottom: none;
	}
	.ipt-pd-slider-arrow .ipt-pd-slider-leftarrow {
	    left: 46px;
	    top: initial;
	    bottom: -52px;
	}
	.ipt-pd-slider-arrow .ipt-pd-slider-rightarrow {
	    right: 46px;
	    top: initial;
	    bottom: -52px;
	}
	.ipt-pd-sliders.slick-slider ul.slick-dots {
	    position: absolute!important;
	    bottom: -50px!important;
	}
	.ipt-pd-sliders.slick-dotted.slick-slider {
	    margin-bottom: 0;
	}
	.ipt-pd-ctlr .ipt-contact-form-sec {
	    padding-top: 30px;
	}
	.pd-contact {
	    padding-bottom: 30px;
	}
	.ipt-pd-ctlr .ipt-contact-form-sec-inr {
	    padding: 50px 40px;
	}
	.ipt-cnt-entry-title {
	    font-size: 32px;
	}
}

@media(max-width: 575px){
	
	.ipt-pd-slider-entry-tilte {
	    font-size: 24px;
	    line-height: 1.2;
	}
	.ipt-pd-ctlr .ipt-contact-form-sec {
	    padding-top: 0px;
	}
	.pd-contact {
	    padding-bottom: 0px;
	    border-bottom: none;
	}
	.ipt-pd-ctlr .ipt-contact-form-sec-inr {
	    padding: 50px 15px;
	}
	.ipt-pd-ctlr .ipt-cnt-entry-title {
	    font-size: 24px;
	    line-height: 1.2;
	}
	.ipt-pd-slider-arrow .ipt-pd-slider-leftarrow {
	    left: 2px;
	}
	.ipt-pd-slider-arrow .ipt-pd-slider-rightarrow {
	    right: 2px;
	}
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}