.referenties-details-slider-sec{

}
.referenties-details-slider-sec-innr{
	padding-top: 58px;
	padding-bottom: 35px;
}
.referenties-details-slider-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 40px;
}
.referenties-details-slider-top-hedding{

}
.referenties-details-slider-title{
	text-transform: none;
	display: inline-block;
	font-size: 40px;
	margin-bottom: 0;
}
.referenties-details-slider-top-socials{
	display: flex;
}
.referenties-details-slider-top-socials-text{

}
.referenties-details-slider-top-socials-icons  > ul{
	display: flex;
}
.referenties-details-slider-top-socials-icons  > ul > li{
	padding-left: 22px;
}
.referenties-details-slider-top-socials-icons  > ul > li >a{
	display: inline-block;
	color: #474747;
	font-size: 16px;
	cursor: pointer;
}
.referenties-details-sliders-cntlr{
	padding-top: 13px;
	display: flex;
	justify-content: space-between;
}
.referenties-details-left-slider{
	max-width: 72%;
	width: 100%;
	position: relative;
}
.referenties-details-left-slider-arrow{
	position: absolute;
    bottom: 55px;
    right: 25px;
    width: 85px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.referenties-details-left-slider-arrow .referenties-details-left-slider-rightArrow,
.referenties-details-left-slider-arrow .referenties-details-left-slider-leftArrow{
	display: block;
    height: 20px;
    width: 20px;
    cursor: pointer;
    text-align: center;
    z-index: 5;
}
.referenties-details-left-slider-arrow .referenties-details-left-slider-leftArrow{
	background-image: url(../images/referenties-slider-leftarrow.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    z-index: 12;
}
.referenties-details-left-slider-arrow .referenties-details-left-slider-rightArrow{
	background-image: url(../images/referenties-slider-rightarrow.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    z-index: 12;
}
.referenties-details-slider{

}
.referenties-details-slider-items{
	min-height: 602px;
}
.referenties-details-right-slider{
	max-width: 28%;
	width: 100%;
	padding-left: 33px;
}
.referenties-details-thumbnail-slider{

}
.referentiesDetailsThumbnailSlider{
	overflow: hidden;
}
.referenties-details-thumbnail-slider-items{
	height: 285px!important;
	width: 100%!important;
	margin-bottom: 34px;
}

.Beschrijving{
	padding-top: 35px;
	padding-bottom: 80px;
}
.Beschrijving-innr{
	display: flex;
	align-items: center;
}
.Beschrijving-left{
	max-width: 40%;
	width: 100%;
	background: #292929;
	padding-left: 20px;
	padding-right: 25px;
	padding-bottom: 42px;
	padding-top: 63px;
}
.Beschrijving-left-title{
	display: inline-block;
	text-transform: none;
	font-size: 24px;
	margin-bottom: 40px;
	color: #fff;
	padding-left: 25px;
}
.Beschrijving-left > ul >li{
	color: #fff;
	line-height: 26px;
	margin-bottom: 15px;
}
.Beschrijving-desc{
	max-width: 60%;
	width: 100%;
	padding-left: 125px;
}
.Beschrijving-desc-title{
	display: inline-block;
	text-transform: none;
	font-size: 30px;
	margin-bottom: 25px;
}
.Beschrijving-desc >p{
	margin-bottom: 28px;
}
.Beschrijving-desc-btn{
}
.Beschrijving-desc-btn a {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    border-radius: 8px;
    padding: 22px 54px 18px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
    -ms-background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
    -webkit-background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
}
.referenties-details-items-sec{
	background: #f7f7f7;
    padding-top: 80px;
    padding-bottom: 50px;
}
.referenties-details-items-sec-hedding{
	text-align: center;
	padding-bottom: 35px;
}
.referenties-details-items-sec-innr >ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.referenties-details-items-sec-innr > ul >li{
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 45px;
}
.referenties-details-items-sec-innr > ul >li:nth-child(3n+1){
	clear: left;
}
.referenties-details-google-map-sec{

}
.referenties-details-google-map-sec iframe{
	width: 100%;
	min-height: 602px;
}