.referenties-details-slider-sec{

}
.referenties-details-slider-sec-innr{
	padding-top: 60px;
}
.referenties-details-slider-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 44px;
}
.referenties-details-slider-top-hedding{

}
.referenties-details-slider-title{
	text-transform: none;
	display: inline-block;
	font-size: 40px;
	margin-bottom: 0;
}
.referenties-details-slider-top-socials{
	display: flex;
}
.referenties-details-slider-top-socials-text{

}
.referenties-details-slider-top-socials-icons  > ul{
	display: flex;
}
.referenties-details-slider-top-socials-icons  > ul > li{
	padding-left: 22px;
}
.referenties-details-slider-top-socials-icons  > ul > li >a{
	color: #474747;
	font-size: 18px;
	cursor: pointer;
	font-family: fontAwesome;
	font-weight: 700;

}
.referenties-details-slider-top-socials-icons  > ul > li >a:hover{
	color: #C90808;
}
.referenties-details-sliders-cntlr{
	padding-top: 16px;
	display: flex;
	justify-content: space-between;
}
.referenties-details-left-slider{
	max-width: 72%;
	width: 100%;
	position: relative;
}
.rdls-arrows{
	position: absolute;
    bottom: 55px;
    right: 25px;
    width: 85px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.rdls-rgt-arrow,
.rdls-lft-arrow{
	display: block;
    height: 28px;
    width: 28px;
    cursor: pointer;
    text-align: center;
    z-index: 5;
}

.rdls-rgt-arrow:hover i svg,
.rdls-lft-arrow:hover i svg{
	fill: #C90808;
}

.referenties-details-slider-items{
	min-height: 602px;
}
.referenties-details-right-slider{
	max-width: 28%;
	width: 100%;
	padding-left: 33px;
	position: relative;
}
.rdls-thumbnail-arrows{
	display: block;
	height: 100%;
	width: 30px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: 21px;
	transform: translateX(-50%);
	z-index: 11;
}
.rdls-thumbnail-arrows .rdls-lft-arrow{
	transform: rotate(90deg);
}
.rdls-thumbnail-arrows .rdls-rgt-arrow{
	transform: rotate(90deg);
	bottom: 32px;
	position: absolute;
}
.referenties-details-thumbnail-slider{

}
.referentiesDetailsThumbnailSlider{
	overflow: hidden;
}
.referenties-details-thumbnail-slider-items{
	height: 285px!important;
	width: 100%!important;
	margin-bottom: 34px;
}

.Beschrijving{
	padding-top: 35px;
	padding-bottom: 82px;
}
.Beschrijving-innr{
	display: flex;
	align-items: center;
}
.Beschrijving-left{
    max-width: 40%;
    width: 100%;
    background: #292929;
    padding-left: 22px;
    padding-right: 25px;
    padding-bottom: 27px;
    padding-top: 62px;
}
.Beschrijving-left-title{
	display: inline-block;
	text-transform: none;
	font-size: 24px;
	margin-bottom: 40px;
	color: #fff;
	padding-left: 25px;
}
.Beschrijving-left > ul >li{
	color: #fff;
	line-height: 26px;
	margin-bottom: 15px;
}
.Beschrijving-desc{
	max-width: 60%;
	width: 100%;
	padding-left: 130px;
}
.Beschrijving-desc-title{
	display: inline-block;
	text-transform: none;
	font-size: 30px;
	margin-bottom: 25px;
}
.Beschrijving-desc >p{
	margin-bottom: 28px;
}
.Beschrijving-desc-btn{
}
.Beschrijving-desc-btn a {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    border-radius: 8px;
    padding: 23px 54px 19px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
    -ms-background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
    -webkit-background: linear-gradient(207.34deg, #FF0000 30.23%, #C90707 100%), #C90808;
}
.referenties-details-items-sec{
	background: #f7f7f7;
    padding-top: 98px;
    padding-bottom: 50px;
}
.referenties-details-items-sec-hedding{
	text-align: center;
	padding-bottom: 65px;
}
.referenties-details-items-sec-innr >ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.referenties-details-items-sec-innr > ul >li{
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 45px;
}
.referenties-details-items-sec-innr > ul >li:nth-child(3n+1){
	clear: left;
}
.referenties-details-google-map-sec{

}
.referenties-details-google-map-sec iframe{
	width: 100%;
	min-height: 602px;
    vertical-align: bottom;
}